[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
requests = "*"
indexclient = {editable = true, path = "."}

[dev-packages]
pytest = "*"
mock = "*"
cdisutilstest = {editable = true, git = "https://github.com/uc-cdis/cdisutils-test.git", ref = "1.0.0"}
indexd = {git = "https://github.com/uc-cdis/indexd.git", ref = "5.0.1"}

[requires]
python_version = "3.9"
