pytest==3.0.6
mock
-e git+https://github.com/uc-cdis/cdis-python-utils.git@0.1.7#egg=cdispyutils
-e git+https://github.com/NCI-GDC/indexd.git@2.1.0#egg=indexd
-e git+https://github.com/uc-cdis/doiclient.git@1.0.0#egg=doiclient
-e git+https://github.com/uc-cdis/dosclient.git@1.0.0#egg=dosclient
-e git+https://github.com/uc-cdis/cdislogging.git@0.0.2#egg=cdislogging
