pytest==3.0.6
-e git+https://github.com/uc-cdis/cdisutils-test.git@feat/indexd#egg=cdisutilstest
-e git+https://github.com/uc-cdis/cdis-python-utils.git@0.1.7#egg=cdispyutils
-e git+https://github.com/uc-cdis/indexd.git@0.4.1#egg=indexd
